.history/

# gateway
/charts/lunar-proxy/override-values.yaml
/charts/lunar-proxy/flows
/charts/lunar-proxy/quotas
/charts/lunar-proxy/root
/charts/lunar-proxy/certs
/charts/lunar-proxy/path_params
/charts/lunar-proxy/policies.yaml

# mcpx
/charts/lunar-mcpx/override-values.yaml


# Values.yaml with data
*.tmp.yaml
settings.local.json
charts/lunar-mcpx-webapp/test.yaml
